*

# Metadata files
!readme.md
!UNLICENSE

# Config files
!package.json
!package-lock.json
!tsconfig.json
!.gitignore
!vite.config.ts
!tailwind.config.js
!postcss.config.js
!biome.json

# Backbone files
!index.html

# Assets files
!public/
!public/**/
!public/**/*.svg
!public/**/*.png

# Source code
!src/
!src/**/
!src/**/*.d.ts
!src/**/*.tsx
!src/**/*.css
